.name-banner-wrapper p {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0.5em;
  white-space: nowrap;

  letter-spacing: 0.5rem;
  font-size: max(3em, 9vw);
  color: var(--background-light);
}
.name-banner-wrapper {
  position: absolute;
  width: 100%;
  /* height: 100svh; */
  z-index: 9;
  left: 0;
  bottom: 4vh;
  pointer-events: none;
  /* align-items: center; */
}

.name-banner {
}

.separator {
  margin: 0 2rem;
}
