.contact-banner {
  color: var(--text-light);
  background-color: var(--background-dark);
  border-bottom: 2px solid var(--hightlight);
  transform-origin: left top;
  transform: translateZ(0) rotate(-90deg) translateX(-100%);
}

.name-banner h1 {
  font-family: "Exquite", sans-serif;
  padding-left: 0.5em;
  font-size: max(3em, 9vw);
  white-space: nowrap;
  pointer-events: none;
  letter-spacing: 0.5rem;
}
