.contact-banner {
    color: var(--text-light);
    background-color: var(--background-dark);
    border-bottom: 2px solid var(--hightlight);
    transform-origin: left top;
    transform: translateZ(0) rotate(-90deg) translateX(-100%);
}

.name-banner h1 {
  font-family: "Mariyam", sans-serif;
   padding-left: 0.5em;
  font-size: max(3em, 6vw);
  white-space: nowrap;
  pointer-events: none;

}
/* .name-banner h1 span {
  font-size: max(2em, 5vw);
  white-space: nowrap;
} */
/* color: white;
font-size: clamp(16px, 1.2vw, 19px);
font-weight: 600; */
