:root
    overflow: scroll 
    /* Beibehaltung der Scrollfähigkeit */
  
    /* Für Firefox */
    scrollbar-width: none
  
    /* Für Internet Explorer und Edge */
    -ms-overflow-style: none 

    /* Für WebKit-basierte Browser */
    &::-webkit-scrollbar 
        display: none 
    /* Versteckt die Scrollleiste */
    
*,
*::after,
*::before 
    box-sizing: border-box
    margin: 0
    padding: 0