@tailwind base
@tailwind components
@tailwind utilities


:root 
    --navbar-height: 80px
    
    --highlight-dark: #03101f   
    --highlight-light: #f8f9fc   
    --highlight-bluish: #8298b0
    --highlight-bluish-light: #b5c3d3 
    --highlight-bluish-lighter: #c4cbce   

    --text-dark: #121212    
    --text-light: #f8f9fc

    --background-dark: #1C1D20

    --light: #f8f9fc
    --armor-wash: #030303
    --stargazing: #424348
    --absolute-zero: #024bb9
    --ruined-smores: #101113
    --polish-metal: #8298b0
    --rich-black: #0f1a20

    --stonish-gray: #999d9e
    --blue-gray: #303e4e
    --dark-blue: #03101f
    --goldish: #756d54
    --papaya-whip: #ffefd3
      


*,
*::after,
*::before 
    box-sizing: border-box
    margin: 0
    padding: 0


body 
    font-family: "CooperHewitt-Thin", sans-serif
    // text-transform: uppercase
    background-color: var(--stargazing)
    color: var(--text-light)



// font-family: "ClashDisplay-Bold", sans-serif
// font-family: "Panchang-Bold", sans-serif
// font-family: "Satoshi-Bold", sans-serif
// font-family: "Cillex-Bold", sans-serif
// font-family: "GeneralSans-Bold", sans-serif






