.hero-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--dark-blue); */
  overflow: hidden;
}

.img-wrapper {
  width: 50rem;
  transform: translateY(8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-img {
  min-width: 700px;
  object-fit: cover;
}
