.loader-wrapper {
  font-family: "Exquite", sans-serif;
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  background-color: var(--ruined-smores);
}

.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.3em;
  font-size: 1.5rem;
  font-weight: lighter;

  color: var(--background-light);
  /* background-color: lightcoral; */
}

.hello-text-single {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  /* opacity: 0; */
}

.hello-text-group {
  min-width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-text {
  color: var(--polish-metal);
}

@media only screen and (min-width: 768px) {
  .loader {
    font-size: 2em;
    gap: 4rem;
  }
}
