.nav-bar {
  height: var(--navbar-height);
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: lowercase;
  font-size: clamp(0.875rem, 0.5rem + 1vw, 1.2rem);
  color: var(--highlight);
}

.nav-menu-right-wrap ul {
  display: flex;
  gap: 1.2em;
  justify-content: space-between;
  letter-spacing: widest;
}

@media only screen and (min-width: 768px) {
}
