.navbar-wrapper {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar {
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vh;
  padding-right: 4vh;
  background-color: var(--background-dark);
}

.navbar > :nth-child(2) {
  color: var(--background-light);
  font-size: 1em;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-size: 1em;
  letter-spacing: widest;
}

.nav-menu a {
  color: var(--background-light);
}

@media only screen and (min-width: 768px) {
  .menu {
    font-size: 2rem;
  }
}
