body {
  background-color: var(--background-dark);
}

@keyframes contact-banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.contact-copy-button {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.contact-mover {
  padding-right: 50px;
  display: inline-flex;
  align-items: center;
  animation: contact-banner 20s linear infinite;
    animation-duration: 20s;
    animation-play-state: running;
  animation-play-state: running;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  will-change: transform;
}

.contact-banner {
  width: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  border-bottom: 1px solid red;
  transform-origin: left top;
  transform: translateZ(0) rotate(-90deg) translateX(-100%);
  background-color: var(--background-dark);
  z-index: 99;
  cursor: pointer;
}

.contact-banner:hover {
  transition: background-color .4s ease-in-out, color .4s ease-in;
  background-color: var(--background-light);
  color: var(--background-dark);
}

.contact-banner:hover .contact-mover {
  animation-play-state: paused;
}

/* .contact-banner :is(span) {
 
  } */