@tailwind base;
@tailwind components;
@tailwind utilities;

/* global variables */
:root {
  --background-dark: #121212;
  --background-light: #f8f9fc;
  --background-gray: #999d9e;
  --text-light: #ffffff;
  --text-dark: #121212;
  --hightlight: #5e191c;

  --armor-wash: #030303;
  --stargazing: #424348;
  --absolute-zero: #024bb9;
  --ruined-smores: #101113;
  --polish-metal: #8298b0;

  --navbar-height: 80px;
}

/* styles for all elements */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
