@tailwind base;
@tailwind components;
@tailwind utilities;

/* global variables */
:root {
  --highlight: #f8f9fc;

  /* --highlight: #8298b0; */
  --background-dark: #03101f;

  --light: #f8f9fc;
  --text-light: #ffffff;
  --text-dark: #121212;

  --armor-wash: #030303;
  --stargazing: #424348;
  --absolute-zero: #024bb9;
  --ruined-smores: #101113;
  --polish-metal: #8298b0;
  --stonish-gray: #999d9e;
  --blue-gray: #303e4e;
  --dark-blue: #03101f;
  --goldish: #756d54;
  --rich-black: #0f1a20;
  --papaya-whip: #ffefd3;
  --baby-blue: #c4cbce;

  --navbar-height: 60px;
}

/* styles for all elements */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "AukimLight", sans-serif;
  background-color: var(--background-dark);
  color: var(--highlight);
}

/* ------------------------------ */
@font-face {
  font-family: AukimBoldExpanded;
  src: url("/assets/fonts/AukimBoldExpanded.otf") format("truetype");
}

.gonestone {
  font-family: AukimBoldExpanded;
}
/* ------------------------------ */
/* ------------------------------ */
@font-face {
  font-family: AukimLight;
  src: url("/assets/fonts/AukimLight.otf") format("truetype");
}

.gonestone {
  font-family: AukimLight;
}
/* ------------------------------ */
/* ------------------------------ */
@font-face {
  font-family: gonestone;
  src: url("/assets/fonts/Gonestone.ttf") format("truetype");
}

.gonestone {
  font-family: Gonestone;
}
/* ------------------------------ */
/* ------------------------------ */

@font-face {
  font-family: rionaldo;
  src: url("/assets/fonts/Rionaldo.ttf") format("truetype");
}

.gonestone {
  font-family: Rionaldo;
}

/* ------------------------------ */
/* ------------------------------ good */

@font-face {
  font-family: Cottage;
  src: url("../public/assets/fonts/Cottage.ttf") format("truetype");
}

.gonestone {
  font-family: Cottage;
}

/* ------------------------------ */
/* ------------------------------ good */

@font-face {
  font-family: Exquite;
  src: url("/assets/fonts/Exquite.ttf") format("truetype");
}

.gonestone {
  font-family: Exquite;
}

/* ------------------------------ */
/* ------------------------------ */

@font-face {
  font-family: Klotee;
  src: url("/assets/fonts/Klotee.ttf") format("truetype");
}

.gonestone {
  font-family: Klotee;
}

/* ------------------------------ */
/* ------------------------------ good */

@font-face {
  font-family: TheFourthAvenue;
  src: url("/assets/fonts/TheFourthAvenue.otf") format("truetype");
}

.gonestone {
  font-family: TheFourthAvenue;
}

/* ------------------------------ */
/* ------------------------------ */

@font-face {
  font-family: Mariyam;
  src: url("/assets/fonts/Mariyam.ttf") format("truetype");
}

.gonestone {
  font-family: Mariyam;
}

/* ------------------------------ */
/* ------------------------------ */

@font-face {
  font-family: Wordan;
  src: url("/assets/fonts/Wordan.ttf") format("truetype");
}

.gonestone {
  font-family: Wordan;
}

/* ------------------------------ */
/* ------------------------------ */

@font-face {
  font-family: Ernesthuge;
  src: url("/assets/fonts/Ernesthuge.ttf") format("truetype");
}

.gonestone {
  font-family: Ernesthuge;
}

/* ------------------------------ */
/* ------------------------------ */

@font-face {
  font-family: Anders;
  src: url("/assets/fonts/Anders.ttf") format("truetype");
}

.gonestone {
  font-family: Anders;
}

/* ------------------------------ */
/* ------------------------------ */

@font-face {
  font-family: Bestlife;
  src: url("/assets/fonts/Bestlife.ttf") format("truetype");
}

.gonestone {
  font-family: Bestlife;
}

/* ------------------------------ */
/* ------------------------------ */

@font-face {
  font-family: Timeburnerbold;
  src: url("/assets/fonts/Timeburnerbold.ttf") format("truetype");
}

.gonestone {
  font-family: Timeburnerbold;
}

/* ------------------------------ */
